.child-card{
  background-color: rgb(154, 201, 255);
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.card-header{
  border-bottom-style: double;
  border-bottom-width: 5px;
  margin-bottom: 15px;
}

