<mat-card class="child-card">
  <h1 class="header">Mission details</h1>
  <mat-card-title-group>
  <img mat-card-lg-image src="{{ mission.links.mission_patch }}" />
  <mat-card-title> Mission {{ mission.mission_name }} </mat-card-title>
  <mat-card-subtitle>
    Mission: {{ mission.mission_name }}<br />
    Launch Year: {{ mission.launch_year }}
  </mat-card-subtitle>
  <mat-card-title> Rocket </mat-card-title>
  <mat-card-subtitle>
    Name: {{ mission.rocket.rocket_name }}<br />
    type: {{ mission.rocket.rocket_type }}
  </mat-card-subtitle>
  <mat-card-title>
    Launch Site
  </mat-card-title>
  <mat-card-subtitle>
    {{mission.launch_site.site_name}}
  </mat-card-subtitle>
</mat-card-title-group>
  <mat-card-title> Launch Details </mat-card-title>
  <mat-card-content>
    {{ mission.details }}
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
